# {{ ansible_managed }}

#################################################################################
#
# Lynis Custom Options
# ------------------------
#
#################################################################################

{% for option in lynis_prf_custom_options|default([]) %}
{{ option }}
{% endfor %}

#################################################################################
#
# Lynis Skipped Tests
# ------------------------
#
#################################################################################

{% for test in lynis_prf_skip_tests|default([]) %}
skip-test={{test}}
{% endfor %}

#################################################################################
#
# Lynis Enterprise Options
# ------------------------
#
#################################################################################

{% for option in lynis_prf_enterprise_options|default([]) %}
{{ option }}
{% endfor %}
